/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reset */

/* Navigation bar */
html {
    scroll-behavior: smooth;
    /* for smooth scrolling for internal links */
}

img {
    max-width: 100%;
    display: inline-block;
    height: auto;
}

body {
    font-family: "Source Sans 3", serif;
    background-color: #FFE6A7;
    color: #99582A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", serif;
    color: #432818;
}

nav {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    /* for placing the nav bar on top */
    backdrop-filter: blur(5px);
    /* for blurring contents behind the nav bar */
}

/* #about {
    margin-top: 5rem;
} */

.logo h1 a {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem;
    text-decoration: none;
    color: #432818;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 40%;
    flex: 1;
}

.hamburger {
    display: none;
    margin-right: 1rem;
}

nav ul a {
    text-decoration: none;
    color: #432818;
    font-size: 1.2rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem 0.3rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-radius: 0.5rem;
}

nav ul a:hover,
nav ul a:active {
    color: #99582A;
    background-color: #b9a16667;
    border-radius: 0.5rem;
}

.signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.signup button {
    background-color: inherit;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 968px) {
    .nav-links {
        display: none;
    }

    .signup {
        display: none;
    }

    nav {
        display: block;
    }

    .logo {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        position: fixed;
        display: block;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}

/* About Start */
#start {
    box-sizing: border-box;
    padding-top: 5rem;
    height: 100dvh;
    background: url(../images/modern-white-chair-object.png) no-repeat;
    margin: 0 5%;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-content: center;
    position: relative;
    /* for positioning the controls at bottom */
}

#start .tagline {
    font-size: 2.5rem;
    font-weight: 800;
    width: 100%;
    margin-bottom: 2rem;
}

#start .tagline-extended {
    width: 40%;
}

#start .controls {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: end;
    /* align-self: stretch; */
    position: absolute;
    bottom: 15px;
    /* for placing the controls at bottom */
    right: 0;
}

.oval-btn {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #99582A;
    border-radius: 1.5em;
    color: white;
    padding: 0.5em 1em;
    background-color: #99582a84;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.oval-btn:hover,
.oval-btn:active {
    background-color: white;
    color: #99582a84;
}

.controls .oval-btn {
    margin-right: 2rem;
    white-space: nowrap;
    font-size: min(4vw, 19px);
}

.controls .arrow-down {
    display: inline-block;
    height: 40px;
    width: 40px;
    min-width: 40px;
}

/* About Extra */

#about-extra {
    box-sizing: border-box;
    padding-top: 5rem;
    min-height: 100dvh;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-extra .img {
    width: 40%;
}

#about-extra .img img {
    width: 100%;
    height: auto;
}

#about-extra .text {
    width: 50%;
}

#about-extra .text h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

#about-extra .text h2 span {
    font-weight: 800;
}

#about-extra .oval-btn {
    margin-top: 2rem;
    white-space: nowrap;
    font-size: min(3.5vw, 17px);
}

@media (max-width: 798px) {
    #about-extra {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-extra .img {
        width: 100%;
        margin-bottom: 1rem;
    }

    #about-extra .text {
        width: 100%;
    }
}

/* Collections */
#collection {
    box-sizing: border-box;
    padding-top: 5rem;
    min-height: 100dvh;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#collection .header {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    min-height: 170px;
    height: 9%;
}

#collection .header span {
    font-weight: 800;
}

#collection h2 {
    width: 30%;
}

#collection .choices {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50%;
}

#collection .choices a {
    box-sizing: border-box;
    width: min(30%, 150px);
    white-space: nowrap;
    font-size: 1rem;
    text-align: center;
}

@media (max-width: 1025px) {
    #collection .header {
        flex-direction: column;
        align-items: space-between;
    }

    #collection h2 {
        width: 100%;
        margin-bottom: 0.7rem;
    }

    #collection .header {
        height: 15%;
    }

    #collection .choices {
        width: 100%;
    }
}

@media (max-width: 536px) {
    #collection .choices a {
        width: 40%;
    }

    #collection .header {
        height: 40%;
    }

    #collection .choices {
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
}

/* Scrolling */
.scroller {
    flex: 1;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    img {
        height: auto;
        width: 100%;
    }

    .cards {
        display: inline-block;
        width: 33%;
        background-color: white;
        transition: transform 0.3s ease-in-out;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 1rem;
        margin: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid black;
    }

    p {
        font-size: 1.2rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 946px) {
    .scroller {
        .cards {
            width: 50%;
        }
    }
}

@media (max-width: 590px) {
    .scroller {
        .cards {
            width: 100%;
        }
    }
}

.scroller .cards:hover,
.scroller .cards:active {
    transform: scale3d(1.05, 1.05, 1.05);
}

/* TODO: Prevent the vertical scroll bar from appearing when hovering */
/* TODO: Add a shadow to the cards */
/* TODO: Make the dining room etc buttons to scroll to the right element even on bigger screens */
/* TODO: Make smooth transition when using dining room etc buttons */
/* TODO: Add left and right scroll icons */
/* TODO: Make the Cart an svg */